.container {
    display: grid;
    width: 25rem;
    height: auto;
    grid-template-columns: repeat(4, 6.25rem);
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    border: 0.3rem solid slategray;
}

button {
    height: 2rem;
    color: gainsboro;
    background-color: slategray;
}

button[value="0"], button[value="C"], button[value="equals"] {
    grid-column: span 2;
}

input {
    grid-column: span 4;
    height: 2rem;
    font-size: 2rem;
    text-align: right;
    background-color: slategray;
    color: gainsboro;
}

.border, button{
    border: 0.1rem solid gainsboro;
}

button:hover {
    background-color: grey;
}